<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict/>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>601E8A411B2B58F000BB02FB</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>601E8A4C1B2B58F000BB02FB</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>601E8A681B2B5AC900BB02FB</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>601E8A701B2B5C2000BB02FB</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>601E8A7A1B2B5C2100BB02FB</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>601E8A8A1B2B5C8500BB02FB</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>606240FB1B2F590B00C55FD8</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>606241051B2F590B00C55FD8</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>60674AC11B30A6F300A1917D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>60674ACB1B30A6F300A1917D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
